@import "../../../variables";

.products-management-wrapper {
  width: $admin-products-management-default-width + px;
  height: $admin-products-management-default-height + px;
  @include flex-column-line-center-vertical-top;
  @include user-select-none;
  border: 3px double $admin-action-management-bcolor;

  .product-management-form {
    width: 100%;
    height: $admin-products-management-form-default-height + px;
    @include flex-column-all-center;
    padding: $admin-management-form-paddings;
    padding-bottom: 0;
    background-color: #fff;
    gap: 2px;

    input {
      width: 80%;
      height: $admin-management-inputs-default-height + px;
      padding-left: 2px;
      border: 2px solid $admin-action-management-bcolor;

      &::placeholder {
        transition-property: opacity;
        transition-duration: 0.4s;
      }

      &:focus {
        outline: none;

        &::placeholder {
          opacity: 0.4;
        }
      }
    }

    .poster-input {
      position: relative;

      &::after {
        content: "Add a poster";
        width: 100%;
        height: 100%;
        @include flex-line-start-vertical-center;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        padding-left: 2px;
        background-color: #fff;
        cursor: pointer;
        z-index: 1;
      }

      &.ru {
        &::after {
          content: "Добавить постер";
        }
      }

      &:focus {
        &::after {
          font-weight: bold;
        }
      }
    }

    select {
      width: 80%;
      height: $admin-management-inputs-default-height + px;
      padding-left: 2px;
      border: 2px solid $admin-action-management-bcolor;

      &:focus {
        outline: none;
        font-weight: bold;
      }
    }

    .buttons {
      width: 100%;
      @include flex-all-center;
      gap: 5px;
      padding: 5px;
      border-bottom: 1px solid $admin-action-management-bcolor;

      .add-button,
      .reset-button,
      .change-button {
        width: $admin-management-buttons-default-width + px;
        @include flex-all-center;
        @include user-select-none;
        padding: $admin-management-buttons-paddings;
        color: #000;
        border: 2px solid $admin-crud-mode-button-bgcolor-active;
        cursor: pointer;

        &:not(:hover) {
          background-color: #fff;
        }
      }

      .close-button {
        width: $admin-management-close-button-default-width + px;
        @include flex-vertical-center;
        @include user-select-none;
        padding: $admin-management-buttons-paddings;
        color: #000;
        border: 2px solid $admin-action-management-bcolor;
        cursor: pointer;

        &:not(:hover) {
          background-color: #fff;
        }
      }

      .reset-button {
        border: 2px solid $admin-action-management-bcolor;
      }
    }
  }

  .management-description-wrapper {
    width: 100%;
    height: 100%;
    @include flex-column-line-center-vertical-top;
    gap: 2px;
    padding-top: 4px;
    background-color: #fff;
    overflow-y: scroll;

    .add-property-button {
      width: $admin-management-addProperty-button-default-width + px;
      @include flex-all-center;
      @include user-select-none;
      padding: $admin-management-buttons-paddings;
      margin-bottom: 8px;
      color: #000;
      border: 2px solid $admin-crud-mode-button-bgcolor-active;
      cursor: pointer;

      &:not(:hover) {
        background-color: #fff;
      }
    }

    .description-item {
      width: 100%;
      height: $default-font-size * 1.4 + px;
      min-height: $default-font-size * 1.4 + px;
      @include flex-all-center;
      gap: 5px;
      margin-bottom: 6px;

      input {
        width: 40%;
        height: $admin-management-inputs-default-height + px;
        padding-left: 2px;
        border: 2px solid $admin-action-management-bcolor;

        &::placeholder {
          transition-property: opacity;
          transition-duration: 0.4s;
        }

        &:focus {
          outline: none;

          &::placeholder {
            opacity: 0.4;
          }
        }
      }

      .remove-property-button {
        width: $admin-management-removeProperty-button-default-width + px;
        height: $admin-management-inputs-default-height + px;
        @include flex-all-center;
        @include user-select-none;
        padding: $admin-management-buttons-paddings;
        color: #000;
        border: 2px solid $admin-action-management-bcolor;
        cursor: pointer;

        &:not(:hover) {
          background-color: #fff;
        }
      }
    }
  }

  .management-items-wrapper {
    width: 100%;
    height: 100%;
    @include flex-column-line-center-vertical-top;
    gap: 2px;
    padding-top: 4px;
    background-color: #fff;
    overflow-y: scroll;

    .management-item {
      width: 100%;
      height: $default-font-size * 1.35 * 4 + px;
      min-height: $default-font-size * 1.35 * 4 + px;
      @include flex-column-all-center;
      position: relative;
      background: rgba($color: #000, $alpha: 0.1);

      &:not(:hover) {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      &:nth-of-type(even) {
        background: #fff;
      }

      .product-poster {
        height: 100%;
        position: absolute;
        top: 0;
        left: 2px;
      }

      span {
        font-size: $default-font-size * 0.85 + px;
      }

      .product-name-span {
        font-weight: bold;
        color: $admin-management-item-productname-span-fcolor;
      }

      .product-brand-span {
        font-weight: bold;
        color: $admin-management-item-productbrand-span-fcolor;
      }

      .product-type-span {
        color: $admin-management-item-producttype-span-fcolor;
      }

      .product-price-span {
        font-weight: bold;
        color: $admin-management-item-productprice-span-fcolor;
      }

      button {
        @include flex-all-center;
        font-size: $default-font-size * 0.8 + px;
      }

      .update-button {
        width: $admin-management-update-button-default-width + px;
        @include flex-all-center;
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin-left: 5px;
        color: #000;
        border: 2px solid #555;
        border-top: none;
        border-bottom: none;
        cursor: pointer;

        &:not(:hover) {
          background-color: rgba($color: #999, $alpha: 0.7);
        }

        &.active {
          background-color: rgba(
            $color: $admin-action-management-bcolor,
            $alpha: 0.8
          );
          color: #fff;
        }
      }

      .delete-button {
        width: $admin-management-delete-button-default-width + px;
        @include flex-all-center;
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin-left: 5px;
        color: #000;
        border: 2px solid #555;
        border-top: none;
        border-bottom: none;
        cursor: pointer;

        &:not(:hover) {
          background-color: rgba($color: red, $alpha: 0.5);
        }
      }

      .norights-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }
}

@media (hover: hover) {
  .products-management-wrapper {
    //  .product-management-form {
    //    .buttons {
    //      .add-button,
    //      .change-button {
    //        &:hover {
    //          background-color: rgba(
    //            $color: $admin-crud-mode-button-bgcolor-active,
    //            $alpha: 0.2
    //          );
    //        }
    //      }

    //      .reset-button,
    //      .close-button {
    //        &:hover {
    //          background-color: rgba(
    //            $color: $admin-action-management-bcolor,
    //            $alpha: 0.2
    //          );
    //        }
    //      }
    //    }
    //  }

    .management-items-wrapper {
      .management-item {
        &:hover {
          border-top: 1px solid $admin-action-management-bcolor;
          border-bottom: 1px solid $admin-action-management-bcolor;
        }

        .update-button {
          &:hover {
            background-color: rgba(
              $color: $admin-action-management-bcolor,
              $alpha: 0.2
            );
            color: #000;
          }
        }

        .delete-button {
          &:hover {
            background-color: red;
          }
        }
      }
    }
  }
}
