@import "../../variables";

.message-container {
  width: calc(100% + 6px);
  height: 0;
  @include flex-all-center;
  @include user-select-none;
  position: absolute;
  left: -3px;
  overflow: hidden;
  transition-property: height;
  transition-timing-function: linear;
  background-color: $auth-inputs-border-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &.active {
    height: $auth-message-container-default-height + px;
    border: 1px solid $auth-registration-button-bcolor;
    border-top: none;
  }

  .message-paragraph {
    font-weight: bold;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .message-container {
    top: $login-form-default-height - 3 + px;

    &.registration-page {
      top: $registration-form-default-height - 3 + px;
    }

    .message-paragraph {
      font-size: $default-font-size * 0.85 + px;
    }
  }
}
