// variables
//== colors
//== navbar
$navbar-color: #f00cbb;
$selection-bar-color: rgba(#8f0d70, 0.1);
//== navbar
//== auth page
$auth-forms-border-color: #f00cbb;
$auth-inputs-border-color: #f00cbb;
$auth-inputs-placeholder-color: #f00cbb;
$auth-inputs-placeholder-valid-color: #0aad0a;
$auth-inputs-line-color: #f00cbb;
$auth-inputs-line-valid-color: #0aad0a;
$auth-login-button-fcolor: #000;
$auth-login-button-bcolor: #0aad0a;
$auth-login-button-bgcolor: #fff;
$auth-registration-button-fcolor: #000;
$auth-registration-button-bcolor: #f00cbb;
$auth-registration-button-bgcolor: #fff;
$auth-backto-login-button-fcolor: #000;
$auth-backto-login-button-bcolor: #f00cbb;
$auth-backto-login-button-bgcolor: #fff;
$auth-register-button-fcolor: #000;
$auth-register-button-bcolor: #0aad0a;
$auth-register-button-bgcolor: #fff;
$auth-stayloggedin-checkbox-color: #0aad0a;
$auth-registration-email-header-color: #f00cbb;
//== auth page
//== admin panel
$admin-actions-container-bcolor: #f00cbb;
$admin-action-management-bcolor: #f00cbb;
$admin-action-button-fcolor: #000;
$admin-action-button-bcolor: #f00cbb;
$admin-action-button-bgcolor: #fff;
$admin-crud-mode-switcher-bcolor: #f00cbb;
$admin-crud-mode-button-bgcolor: #fff;
$admin-crud-mode-button-bgcolor-active: #0aad0a;
$admin-crud-mode-button-fcolor: #000;
$admin-crud-mode-button-fcolor-active: #0aad0a;
$admin-crud-mode-button-bgcolor-hover: #f00cbb;
$admin-crud-mode-button-fcolor-hover: #f00cbb;
//== admin panel
//== colors

//== sizes
//== general
$default-font-size: 16;
//== general
//== navbar
$navbar-mainlogo-default-size: 30;
$navbar-default-height: 40;
$navbar-paddings-top-bottom: 5px;
$navbar-paddings-left-right: 10px;
$navbar-buttons-paddings: 5px 10px;
$navbar-buttons-default-height: 30;
$navbar-lang-switcher-default-width: 50;
$navbar-auth-button-default-width: 105;
$navbar-product-choose-button-default-width: 130;
$navbar-admin-panel-button-default-width: 115;
$navbar-logout-button-default-width: 61;
//== navbar

//== auth page
$login-form-default-height: 230;
$registration-form-default-height: 270;
$auth-forms-default-width: 350;
$auth-inputs-default-width: 300;
$auth-inputs-default-height: 25;
$auth-reg-email-input-def-width: 241;
$auth-inputs-placeholder-default-fsize: 16;
$auth-login-button-default-width: 110;
$auth-registration-button-default-width: 125;
$auth-backto-login-button-default-width: 85;
$auth-register-button-default-width: 155;
$auth-buttons-default-height: 30;
$auth-buttons-paddings: 5px 20px;
$auth-stayloggedin-checkbox-default-size: 14;
$auth-stayloggedin-checkbox-default-fsize: 11;
$auth-message-container-default-height: 25;
//== auth page

//== admin panel
$admin-actions-container-default-width: 300;
$admin-actions-container-default-height: 300;
$admin-actions-buttons-paddings: 10px 5px;
$admin-actions-buttons-default-width: 200;
$admin-actions-buttons-default-height: 40;
$admin-types-management-default-width: 300;
$admin-types-management-default-height: 300;
$admin-brands-management-default-width: 300;
$admin-brands-management-default-height: 300;
$admin-products-management-default-width: 300;
$admin-products-management-default-height: 300;
$admin-users-management-default-width: 300;
$admin-users-management-default-height: 300;
$admin-crud-mode-switcher-default-height: 40;
$admin-management-form-default-height: 75;
$admin-management-form-paddings: 5px 0;
$admin-management-inputs-default-height: 28;
$admin-management-buttons-paddings: 2px 10px;
$admin-management-buttons-default-width: 80;
$admin-management-close-button-default-width: 30;
$admin-management-update-button-default-width: 75;
$admin-management-delete-button-default-width: 65;
//== admin panel
//== sizes
// variables

//== flex row mixins
@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-line-center-vertical-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-line-center-vertical-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-line-start-vertical-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-line-end-vertical-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-line-spacebetween-vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//== flex row mixins

//== flex column mixins
@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-line-center-vertical-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-column-line-center-vertical-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-column-line-start-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-column-line-end-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
//== flex column mixins

@mixin user-select-none {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
