// variables
//== colors
//== navbar
$navbar-color: #f00cbb;
$navbar-cart-button-productDragging-color: #0aad0a;
$navbar-cart-button-notEmpty-color: #ff8c00;
$selection-bar-color: rgba(#8f0d70, 0.1);
//== navbar
//== auth page
$auth-forms-border-color: #f00cbb;
$auth-inputs-border-color: #f00cbb;
$auth-inputs-placeholder-color: #f00cbb;
$auth-inputs-placeholder-valid-color: #0aad0a;
$auth-inputs-line-color: #f00cbb;
$auth-inputs-line-valid-color: #0aad0a;
$auth-login-button-fcolor: #000;
$auth-login-button-bcolor: #0aad0a;
$auth-login-button-bgcolor: #fff;
$auth-registration-button-fcolor: #000;
$auth-registration-button-bcolor: #f00cbb;
$auth-registration-button-bgcolor: #fff;
$auth-backto-login-button-fcolor: #000;
$auth-backto-login-button-bcolor: #f00cbb;
$auth-backto-login-button-bgcolor: #fff;
$auth-register-button-fcolor: #000;
$auth-register-button-bcolor: #0aad0a;
$auth-register-button-bgcolor: #fff;
$auth-stayloggedin-checkbox-color: #0aad0a;
$auth-registration-email-header-color: #f00cbb;
//== auth page
//== admin panel
$admin-actions-container-bcolor: #fff;
$admin-actions-container-bgcolor: #f00cbb;
$admin-action-management-bcolor: #f00cbb;
$admin-action-button-bcolor: #fff;
$admin-action-button-bgcolor: #f00cbb;
$admin-action-button-fcolor: #fff;
$admin-crud-mode-switcher-bcolor: #f00cbb;
$admin-crud-mode-switcher-bgcolor: #f00cbb;
$admin-crud-mode-button-bgcolor: #fff;
$admin-crud-mode-button-bgcolor-active: #0aad0a;
$admin-crud-mode-button-fcolor: #fff;
$admin-crud-mode-button-fcolor-active: #fff;
$admin-crud-mode-button-bgcolor-hover: #f00cbb;
$admin-crud-mode-button-fcolor-hover: #f00cbb;
$admin-management-item-nickname-span-fcolor: #f00cbb;
$admin-management-item-email-span-fcolor: #000;
$admin-management-item-role-span-fcolor: #0aad0a;
$admin-management-item-productname-span-fcolor: #f00cbb;
$admin-management-item-productbrand-span-fcolor: #0aad0a;
$admin-management-item-producttype-span-fcolor: #000;
$admin-management-item-productprice-span-fcolor: #f00cbb;
//== admin panel

//== shop page
$shop-product-card-bcolor: #888;
$shop-product-card-dragged-bcolor: #0aad0a;
$shop-product-card-name-fcolor: #f00cbb;
$shop-product-card-price-fcolor: #0aad0a;
//== shop page

//== cart page
$cart-items-wrapper-bcolor: #f00cbb;
$cart-item-bcolor: #888;
$cart-order-transition-button-bgcolor: #f00cbb;
$cart-order-transition-button-bgcolor-hover: #0aad0a;
//== cart page
//== colors

//== sizes
//== general
$default-font-size: 16;
//== general
//== navbar
$navbar-mainlogo-default-size: 32;
$navbar-default-height: 40;
$navbar-paddings-top-bottom: 5px;
$navbar-paddings-left-right: 10px;
$navbar-buttons-paddings: 5px 10px;
$navbar-buttons-default-height: 30;
$navbar-lang-switcher-default-width: 55;
$navbar-auth-button-default-width: 110;
$navbar-product-choose-button-default-width: 135;
$navbar-admin-panel-button-default-width: 125;
$navbar-logout-button-default-width: 61;
$navbar-cart-button-default-width: 135;
//== navbar

//== auth page
$login-form-default-height: 230;
$registration-form-default-height: 270;
$auth-forms-default-width: 350;
$auth-inputs-default-width: 300;
$auth-inputs-default-height: 25;
$auth-reg-email-input-def-width: 241;
$auth-inputs-placeholder-default-fsize: 16;
$auth-login-button-default-width: 110;
$auth-registration-button-default-width: 125;
$auth-backto-login-button-default-width: 85;
$auth-register-button-default-width: 160;
$auth-buttons-default-height: 30;
$auth-buttons-paddings: 5px 20px;
$auth-stayloggedin-checkbox-default-size: 14;
$auth-stayloggedin-checkbox-default-fsize: 10.3;
$auth-message-container-default-height: 25;
//== auth page

//== admin panel
$admin-actions-container-default-width: 300;
$admin-actions-container-default-height: 300;
$admin-actions-buttons-paddings: 10px 5px;
$admin-actions-buttons-default-width: 210;
$admin-actions-buttons-default-height: 40;
$admin-types-management-default-width: 300;
$admin-types-management-default-height: 300;
$admin-brands-management-default-width: 300;
$admin-brands-management-default-height: 300;
$admin-products-management-default-width: 300;
$admin-products-management-default-height: 500;
$admin-users-management-default-width: 300;
$admin-users-management-default-height: 300;
$admin-crud-mode-switcher-default-height: 40;
$admin-management-form-default-height: 75;
$admin-users-management-form-default-height: 100;
$admin-products-management-form-default-height: 250;
$admin-management-form-paddings: 5px 0;
$admin-management-inputs-default-height: 28;
$admin-management-buttons-paddings: 2px 10px;
$admin-management-buttons-default-width: 85;
$admin-management-close-button-default-width: 30;
$admin-management-update-button-default-width: 75;
$admin-management-delete-button-default-width: 65;
$admin-management-addProperty-button-default-width: 155;
$admin-management-removeProperty-button-default-width: 20;
//== admin panel

//== shop page
$shop-products-cards-wrapper-default-height: 800;
$shop-product-card-default-width: 155;
$shop-product-card-default-height: 300;
//== shop page

//== cart page
$cart-items-wrapper-default-width: 600;
$cart-items-wrapper-default-maxHeight: 650;
$cart-item-default-height: 80;
$cart-order-transition-button-default-width: 120;
$cart-lowerBlock-default-height: 35;
//== cart page
//== sizes
// variables

//== flex row mixins
@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-line-center-vertical-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-line-center-vertical-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-line-start-vertical-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-line-start-vertical-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-line-end-vertical-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-line-spacebetween-vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}
//== flex row mixins

//== flex column mixins
@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-line-center-vertical-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-column-line-center-vertical-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-column-line-start-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-column-line-end-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@mixin flex-column-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
//== flex column mixins

@mixin user-select-none {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
