@font-face {
  font-family: "Heir of light";
  src: url(./fonts/HeirofLightRegular.ttf), url(./fonts/HeirofLightBold.ttf);
  font-weight: 400, bold;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-family: "Heir of light";
}
