@import "../../variables";

.product-card-wrapper {
  width: $shop-product-card-default-width + px;
  height: $shop-product-card-default-height + px;
  max-height: $shop-product-card-default-height + px;
  @include flex-column-line-center-vertical-top;
  padding: 5px;
  transition-property: border-color, box-shadow;
  transition-duration: 1.2s;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  cursor: grab;

  .product-poster {
    width: auto;
    height: 80%;
    @include user-select-none;
  }
}

@media (hover: hover) {
  .product-card-wrapper {
    &:hover {
      border-color: $shop-product-card-bcolor;
      box-shadow: 0 4px 10px 1px #555;

      &.product-dragging {
        border-color: $shop-product-card-dragged-bcolor;
      }
    }
  }
}
