@import "../../../variables";

.crud-mode-switcher-wrapper {
  width: 100%;
  @include flex-all-center;
  @include user-select-none;
  border-bottom: 3px double $admin-crud-mode-switcher-bcolor;
  background-color: $admin-crud-mode-switcher-bgcolor;

  .crud-mode-button {
    width: 25%;
    height: $admin-crud-mode-switcher-default-height + px;
    @include flex-all-center;
    @include user-select-none;
    cursor: pointer;

    &:not(:hover) {
      background-color: $admin-crud-mode-switcher-bcolor;
    }

    .crud-mode-span {
      font-size: $default-font-size * 0.75 + px;

      &:not(:hover) {
        color: $admin-crud-mode-button-fcolor;
      }
    }

    &.active {
      background-color: $admin-crud-mode-button-bgcolor-active;

      .crud-mode-span {
        color: $admin-crud-mode-button-fcolor-active;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 2px solid #ccc;
    }
  }
}

@media (hover: hover) {
  .crud-mode-switcher-wrapper {
    .crud-mode-button {
      &:hover {
        background-color: rgba($color: #000, $alpha: 0.1);

        .crud-mode-span {
          color: $admin-crud-mode-button-fcolor;
        }

        &.active {
          background-color: $admin-crud-mode-button-bgcolor-active;

          .crud-mode-span {
            color: $admin-crud-mode-button-fcolor-active;
          }
        }
      }
    }
  }
}
