@import "../../variables";

.shop-page-wrapper {
  width: 100%;
  height: calc(100vh - #{($navbar-default-height + px)});
  @include flex-column-line-center-vertical-top;

  .products-cards-wrapper {
    width: 100%;
    height: $shop-products-cards-wrapper-default-height + px;
    @include flex-line-start-vertical-top;
    flex-wrap: wrap;
    gap: 22px;
    padding: 50px 80px;
    overflow-y: scroll;
  }
}
