@import "../../variables";

.shop-page-wrapper {
  width: 100%;
  height: calc(100vh - #{($navbar-default-height + px)});
  @include flex-column-line-center-vertical-top;

  .products-cards-wrapper {
    width: 75%;
    height: $shop-products-cards-wrapper-default-height + px;
    @include flex-line-start-vertical-top;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
