@import "../../variables";

.shop-page-wrapper {
  width: 100%;
  height: calc(100vh - #{($navbar-default-height + px)});
  @include flex-column-line-center-vertical-top;
  position: relative;
  background-color: #fff;

  .products-cards-wrapper {
    width: 100%;
    height: $shop-products-cards-wrapper-default-height + px;
    @include flex-line-start-vertical-top;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 80px;
    background-color: #fff;
    overflow-y: scroll;

    &.loading {
      @include flex-all-center;
    }
  }

  .copyright-span {
    @include user-select-none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: $default-font-size * 0.8 + px;
  }
}
