@import "../../variables";

.pages-bar {
  width: 100%;
  height: $shop-pages-bar-default-height + px;
  @include flex-all-center;
  @include user-select-none;
  gap: 8px;
  position: fixed;
  bottom: $footer-default-height + px;
  right: 0;
  background-color: $shop-pages-bar-bgcolor;

  .page-button {
    width: $shop-bages-bar-buttons-default-width + px;
    height: $shop-pages-bar-default-height * 0.7 + px;
    @include flex-all-center;
    padding: $shop-bages-bar-buttons-default-paddings;
    font-size: $default-font-size * 0.8 + px;
    background-color: rgba($color: $shop-pages-bar-bgcolor, $alpha: 1);
    color: #fff;
    cursor: pointer;

    &:not(:hover),
    &.current {
      background-color: $shop-pages-bar-buttons-bgcolor;
    }

    &.current {
      color: $shop-pages-bar-buttons-current-fcolor;
      cursor: default;
    }
  }
}
