@import "../../variables";

footer {
  width: 100%;
  height: $footer-default-height + px;
  @include flex-all-center;
  position: relative;
  background-color: $footer-bgcolor;

  .copyright-span {
    @include user-select-none;
    margin-left: auto;
    margin-right: 5px;
    font-weight: bold;
    color: #444;
    font-size: $default-font-size * 0.8 + px;
  }
}
